version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: daily
      time: '10:00'
    open-pull-requests-limit: 10
    groups:
      esdoc:
        patterns:
          - '@sebastianwessel/esdoc*'
      lint:
        patterns:
          - 'eslint-plugin-*'
          - 'lint-staged'
          - 'markdownlint-cli'
          - 'npm-package-json-lint*'
          - 'pkg-ok'
          - 'prettier'
          - 'stylelint*'
      storybook:
        patterns:
          - 'storybook'
          - '@storybook/*'
      test:
        patterns:
          - '@wojtekmaj/enzyme-adapter-*'
          - 'enzyme'
          - 'jest-*'
          - 'react-test-renderer'
          - 'redux-mock-store'
