{
  "parser": "@babel/eslint-parser",
  "extends": [
    "react-app",
    "plugin:flowtype/recommended",
  ],
  "plugins": [
    "flowtype",
  ],
  "overrides" : [
    {
      "files": ["*.yaml", "*.yml"],
      "plugins": ["yaml"],
      "extends": ["plugin:yaml/recommended"]
    }
  ],
  "rules": {
      "flowtype/space-after-type-colon": "off",
  }
}
