language: node_js

node_js:
- node

os:
- linux
- osx
- windows

cache:
  directories:
  - node_modules

script:
- yarn lint
- yarn flow
- flow stop
- yarn test --coverage
- yarn build
- yarn esdoc && mv docs/ build/

after_script:
- 'if [ "x$TRAVIS_OS_NAME" = "xlinux" -a "x$TRAVIS_BRANCH" = "xmaster" ]; then yarn coveralls; else true; fi'

matrix:
  allow_failures:
  - os: windows
  fast_finish: true
