@import url('https://fonts.googleapis.com/css?family=Fira+Code');

.SqlEditor {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.SqlEditor .error {
  font-weight: bold;
  padding: 0.4em;
}

.SqlEditor .CodeMirror {
  border: 1px solid #333;
  padding: 1em;
  height: auto;
  margin-bottom: 1em;
}
