on:
  schedule:
    - cron: '0 2 * * 0'  # every Sunday at 2am
  workflow_dispatch:
name: Flow Typed
jobs:
  flow-typed:
    name: Flow Typed
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        ref: main

    - uses: pnpm/action-setup@v4
    - name: Set up node
      uses: actions/setup-node@v3
      with:
        node-version: 24
    - run: pnpm install --frozen-lockfile
    - run: npx flow-typed install

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v5
      with:
          title: 'Update flow-typed definitions'
          branch: flow-typed-update
          commit-message: "Update flow-typed definitions"
          delete-branch: true
