on:
  schedule:
    - cron: '0 2 * * 0'  # every Sunday at 2am
  workflow_dispatch:
name: Flow Typed
jobs:
  flow-typed:
    name: Flow Typed
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        ref: main

    - name: Set up node
      uses: actions/setup-node@v2
      with:
        node-version: 14
    - run: yarn install --frozen-lockfile --non-interactive
    - run: npx flow-typed install

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3
      with:
          title: 'Update flow-typed definitions'
          branch: flow-typed-update
          commit-message: "Update flow-typed definitions"
          delete-branch: true
